/*global style*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font-size: 62.5%;
}

body{
	--brown: #634832;
	--darkbrown: #3e1404;
	--vanilla: #ece0d1;
	background: url(img/coffee-beans-background.jpg);
	background-repeat: repeat-y;
  	background-size: 100% auto;
}

header{
	background: black;
	color: white;
	display: flex;
	margin: auto;
	justify-content: center;
	height: 10vh;
	font-size: 2.6rem;
	font-family: 'Calligraffitti', cursive;
}


/* Slideshow container */
.slideshow-container {
  max-width: 90vw;
  max-height: 90vh;
  position: relative;
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
}

#lamp-slide{
	height: 90vh;
	width: 90vw;
	background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0) ), url(img/lamp.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#cauldron-slide{
	height: 90vh;
	width: 90vw;
	background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0) ), url(img/cauldron.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
#table-slide{
	height: 90vh;
	width: 90vw;
	background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0) ), url(img/table.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}


/* Hide the images by default */
.mySlides {
  display: none;
}






/* Caption text */
.text {
  color: var(--vanilla);
  font-size: 8rem;
  padding: 8px 12px;
  position: absolute;
  bottom: 40%;
  width: 100%;
  text-align: center;
  top: 10%;
  font-family: 'Calligraffitti', cursive;
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  bottom: 10%;
  transition: background-color 0.6s ease;
}

#hero-dots{
	width: 100px;
	position: absolute;
	left: 50%;
	margin-left: -50px;
	bottom: 0%;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: .5s;
  animation-name: fade;
  animation-duration: .5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}

}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*about section*/

.about{
	display: flex;
	flex-direction: row;
	background: var(--darkbrown);
}

.about img{
	width: auto;
	height: 100vh;
}

.about p{
	font-size: 3.6rem;
	color: var(--vanilla);
	text-align: center;
	margin: 10rem;
	margin-top: 5rem;
	margin-bottom: 1rem;
}

.about h2{
	margin: 2rem;
	margin-bottom: 1rem;
	font-size: 6rem;
	color: white;
}

.about-text{
	text-align: center;
	font-family: 'Calligraffitti', cursive;
}

.about button{
	padding: 4rem;
	background: var(--brown);
	color: var(--vanilla);
	font-size: 2.4rem;
	margin: 6rem;
	border-color: var(--vanilla);
	cursor: pointer;
	font-family: 'Calligraffitti', cursive;
}

/*location section*/

.location{
	display: flex;
	flex-direction: row;
	background: var(--darkbrown);
}

.location img{
	width: auto;
	height: 100vh;
}

.location p{
	font-size: 3.6rem;
	color: var(--vanilla);
	text-align: center;
	margin: 10rem;
	margin-top: 5rem;
	margin-bottom: 1rem;
}

.location h2{
	margin: 2rem;
	margin-bottom: 1rem;
	margin-top: 15rem;
	font-size: 6rem;
	color: white;
}

.location-text{
	text-align: center;
	font-family: 'Calligraffitti', cursive;
	flex-grow: 100;
}

.secret-menu img{
	position: relative;
	height: 100vh;
	width: 90vw;
}
.secret-menu{
	position: relative;
	text-align: center;
}

#ouija-pointer{
	position: absolute;
	height: 500px;
	width: 400px;
	top: 15%;
	left: 36%;
	transform: rotate(180deg);
	animation-duration: 5s;
	animation-name: ouija-moves;
	animation-iteration-count: infinite;
}

@keyframes ouija-moves {
	from{
		top: 15%;
		left: 36%;
	}
	50%{
		top: 10%;
		left: 23%;
	}
	to {
		top: 27%;
		left: 53%;
	}
} 
