/*global style*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font-size: 62.5%;
}

body{
	--brown: #634832;
	--darkbrown: #3e1404;
	--vanilla: #ece0d1;
	background: var(--darkbrown);
}